<%- include('./partials/header') %>

<div id="content-container">
    <h1>Welcome to blog Website</h1>
    <p><%= content %></p>

    <% posts.forEach((post)=>{ %>
        <h2><%= post.title %></h2>
        <p><%= post.postBody.substring(0,100)+'...' %></p>
        <a href="/posts/<%= post.title.replace(/ /g, "-") %>">Read more</a>
    <% }) %>
</div>

<%- include('./partials/footer') %>
